<ms-mini-cart></ms-mini-cart>

<div class="row">

    <div class="col-sm-3">
        <img ng-src="{{product.picture}}" alt="{{product.title}}">
    </div>

    <div class="col-sm-9">
        <div class="alert alert-danger" ng-show="product.inventory == 0"><strong>This item is currently unavailable</strong></div>

        <h2 ng-bind="product.title"></h2>

        <p ng-class="{old : product.isSpecial}" ng-bind="product.price"></p>

        <p ng-show="product.isSpecial" ng-bind="product.specialPrice"></p>

        <p ng-bind="product.description"></p>

        <div>
            <ms-add-cart-button product="product"></ms-add-cart-button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-12 featured">
        <div class="small">
            <div class="three" ng-repeat="product in featuredProducts | limitTo: 3">
                <ms_featured_product product="product"></ms_featured_product>
            </div>
        </div>
    </div>
    <a>Return to Products</a>
</div>