<div class="row">

    <div class="col-sm-3">
        <img ng-src="{{product.picture}}" alt="{{product.title}}">
    </div>

    <div class="col-sm-9">
        <div class="alert alert-danger" ng-show="product.inventory == 0"><strong>This item is currently unavailable</strong></div>

        <h2 ng-bind="product.title"></h2>

        <p ng-class="{old : product.isSpecial}" ng-bind="product.price"></p>

        <p ng-show="product.isSpecial" ng-bind="product.specialPrice"></p>

        <p ng-bind="product.description"></p>

        <div>
            <button type="button" class="btn btn-primary">To Cart</button>
        </div>
    </div>
</div>

<div class="row">
    <a>Return to Products</a>
</div>